<html>
	<head>
		
		<%= stylesheet_link_tag "style.css" %>
	</head>
	<body>

		<div class="top">
			<h1>URDB</h1>
		</div>

			<h1><%= @movie.title %></h1>

			<p><%= @movie.description %></p>
			<%= image_tag @movie.gif_src %>

	</body>
</html>



